.inf-device-info{
    text-align: start;
}

.inf-device-info-value{
    font-weight: bold;
}

.inf-device-logs{
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: small;
    // overflow-y: scroll;
    // height: 25rem;
    text-wrap: wrap;
    box-sizing: border-box;

}